
textarea{
    width: 300px;
    height: 100px;
}
.vl {
    border-left: 6px solid green;
    height: 772px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}
.updatePage{
    /* border-left: 6px solid green; */
    height: 772px;
    position: absolute;
    left: 55%;
    margin-left: -3px;
    top: 0;
}